* {
    box-sizing: border-box;
    background: url('stars.gif');
}

body {
  height: max-content;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

input{
  background: aliceblue;
  color: blueviolet;
}

#inputWord{
  position: absolute;
  margin-top: 25%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

#inputField{
  display: grid;
  grid-template-columns: auto auto auto;
  width: max-content;
}

#wordInput::placeholder{
  color:#EC7063;
  font-family: Lilita One, sans-serif;
  text-align: center;
}

#wordInput{
  height: 35px;
  border-radius: 12px;
  font-family: Lilita One, sans-serif;
  text-align: center;
  text-transform: uppercase;
  border-color: #EC7063;
  border-width: 3px;
  color:#EC7063
}

#wordInput:hover{
  cursor: pointer;
  background: #EC7063;
  border-color: aliceblue;
  color: aliceblue;
}

#wordInput:hover::placeholder{
  color: aliceblue;
}

#submitWord{
  background: aliceblue;
  height: 35px;
  border-radius: 12px;
  border-width: 3px;
  color: blueviolet;
  font-family: Lilita One, sans-serif;
  width: max-content;
  margin-left: 10%;
}

#submitWord:hover{
  background: blueviolet;
  color: aliceblue;
  cursor: pointer;
}

#countWords{
  display: flex;
  margin-left: 10%;
  position: flex;
  background: aliceblue;
  border-radius: 50%;
  border-color: #EC7063;
  border-width: 3px;
  height: 35px;
  width: 35px;
  color: #EC7063;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

#message{
  font-family: Lilita One, sans-serif; font-size:xx-large; color:#EC7063;
  height: max-content;
  width: max-content;
  margin-left: 50%;
  margin-top: 5%;
  transform: translateX(-50%); 
}

#msgBox {
  text-align: center;
  font-size: 3.5em;
  font-family: 'Arial', sans-serif;
  margin: 0.1em 0em; 
}

#smallMsg {
  text-align: center;
  padding: 0px 0px 10px 0px;
  font-size: 1.1em;
}

#SFX{
  background-color: wheat;
}

input:hover::placeholder{
  color: aliceblue;
}

#guess:hover {
  border-color: aliceblue;
  border-width: 3px;
  background: blueviolet;
  color: aliceblue;
}

#container {
  margin-left: 50%;
  transform: translate(-50%,0);
  width: max-content;
}

.correct {
  background: rgb(46, 204, 113);
}

.wrongplace {
  background: #F4D03F;
}

.default {
  background: azure;
}

#soundIcon{
  visibility:visible;
}

.selectionBar{
  margin-top: 4%;
  position: sticky;
  display:flex;
  width: max-content;
  left: 50%;
  transform: translateX(-38%);
}

#guess {
  border: 3px blueviolet solid;
  padding: 5px;
  /* margin-left: 3%; */
  display: block;
  border-radius: 8px;
  color: rgb(139, 49, 241);
  font-family: Lilita One, sans-serif;
  font-weight: 700;
  margin-right: 10px;
}

.SFXButton{
  font-family: Lilita One, sans-serif;
  color: rgb(59, 118, 176);
  /* position:absolute; */
  /* left: -72%; */
  width: max-content;
  height: 3em;
  border-radius: 8px;
  margin-right: 10px;
  border-width: 2px;
  border-color: rgb(59, 118, 176);
  background: aliceblue;
  display:inline-flex;
  align-items: center;
}

#muteSFX{
  color: rgb(59, 118, 176);
  background: aliceblue;
  position: absolute;
  margin-right: 0;
}

.SFXButton:hover{
  color: aliceblue;
  background: rgb(59, 118, 176);
  border-color: aliceblue;
  cursor: pointer;
}

#volumnSFX{
  background: aliceblue;
  position:relative;
}

.SFXButton:hover #volumnSFX{
  color: aliceblue;
  background: rgb(59, 118, 176);
  border-color: aliceblue;
  cursor: pointer;
}

#volumnSFX:hover{

  background: rgb(59, 118, 176);
  color: aliceblue;
}

.buttonSound{
  width: 3em;
  height: 3em;
  background:aliceblue;
  border-color: rgb(59, 118, 176);
  border-radius: 50%;
  padding: 0;
  margin-right: 10px;
  /* margin-left: -50%; */
}

#volumn{
  background: aliceblue;
  color: rgb(59, 118, 176);
}

.buttonSound:hover{
  cursor: pointer;
  background: rgb(59, 118, 176);
  color: white;
  border-color: white;
}

.buttonSound:hover #volumn{
  cursor: pointer;
  background: rgb(59, 118, 176);
  color: aliceblue;
  border-color: white;
}

.buttonSound i{
  color: aliceblue;
  padding: 0;
  margin: 0;
}

#next{
  margin-left: 2%;
  background: white;
  border-color: blueviolet;
  border-width: 3px;
  border-radius: 12px;
  font-weight: 700;
  color: blueviolet;
  font-family: Lilita One, sans-serif;
}

#next:hover{
  cursor: pointer;
  background: blueviolet;
  border-color: aliceblue;
  font-weight: 700;
  color: aliceblue;
  transition-duration: 0.3s;
}

.square {
  position: inherit;
  vertical-align:top;
  margin-top: 4px;
  border: 1px black solid;
  border-radius: 9%;
  display: inline-block;
  height: 1.25em;
  width: 1.25em;
  text-align: center;
  font-size: 3.5em;
  font-family: Lilita One, sans-serif;
  margin-right: 8px;
}

.square:hover{
  cursor: pointer;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transform: translateY(-3.5%);
  color: aliceblue;
  animation: load 1s ease-in-out infinite;
}

#button{
  background: aliceblue;
  border-width: 3px;
  border-color: blueviolet;
  color: blueviolet;
  font-weight: 700;
  margin-left: 3%;
  border-radius: 12px;
}

#button:hover {
  transition-duration: 0.3s;
  background: blueviolet;
  color: aliceblue;
  border-color: aliceblue;
}

.row:hover{
  color: aliceblue;
}

#faceExpression{
  width: 8em;
  height: 8em;
  background-size: contain;
  border-radius: 20px;
  border-width: 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}


#faceExpression:hover{
  cursor: pointer;
}

#screenMessage {
  width: 35%;
  height: 35%;
  background: rgb(231, 160, 85);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.6s;
}

#Message{
  display:flexbox;
  width: 93%;
  height: 91%;
  border-radius: 10px;
  background: aliceblue;
  justify-content: center;
  text-align: center;
  font-size: large;
}

#gameText{
  background: aliceblue;
  font-family: Lilita One, sans-serif;
  color: #e25d35;
  font-size: medium;
  text-decoration: underline;
  margin-left: 50%;
  width:max-content;
  transform: translateX(-50%);
}

#vidMessage{
  border-radius: 12px;
  background-image: url('congrats.gif');
  background-size: cover;
  background-position: center;
  width: 85.333333%;
  height: 48%;
  margin-left: 50%;
  transform: translateX(-50%);
}

#closeMessage{
  position: absolute;
  background: transparent;
  right: 5.5%;
  top: 8.5%;
  cursor: pointer;
  font-size: large;
  border: unset;
}

#text{
  width: max-content;
  margin-left: 50%;
  /* margin-top: 10%;
  margin-left: 50%; */
  transform: translateX(-50%);
}

@keyframes load {
  0% {
    box-shadow: 0 -0.75px 0px 0px rgb(224, 184, 73);
  }
  6% {
    box-shadow:0 -1.5px 0px 0px rgb(224, 184, 73);
  }
  12% {
    box-shadow:0.75px -1.5px 0px 0px rgb(224, 184, 73);
  }
  18% {
    box-shadow:1.5px -1.5px 0px 0px rgb(224, 184, 73);
  }
  24% {
    box-shadow: 1.5px -0.75px 0px 0px rgb(224, 184, 73);
  }
  30% {
    box-shadow: 1.5px -0.75px 0px 0px rgb(224, 184, 73);
  }
  36% {
    box-shadow: 1.5px 1.5px 0px 0px rgb(224, 184, 73);
  }
  42% {
    box-shadow: 0.75px 1.5px 0px 0px rgb(224, 184, 73);
  }
  48% {
    box-shadow: 0px 1.5px 0px 0px rgb(224, 184, 73);
  }
  54% {
    box-shadow: -0.75px 1.5px 0px 0px rgb(224, 184, 73);
  }
  60% {
    box-shadow: -1.5px 1.5px 0px 0px rgb(224, 184, 73);
  }
  66% {
    box-shadow: -1.5px 0.75px 0px 0px rgb(224, 184, 73);
  }
  72% {
    box-shadow: -1.5px 0px 0px 0px rgb(224, 184, 73);
  }
  80% {
    box-shadow: -1.5px -0.75px 0px 0px rgb(224, 184, 73);
  }
  86% {
    box-shadow: -1.5px -1.5px 0px 0px rgb(224, 184, 73);
  }
  93% {
    box-shadow: -0.75px -1.5px 0px 0px rgb(224, 184, 73);
  }
  100% {
    box-shadow: 0px -1.5px 0px 0px rgb(224, 184, 73);
  }
  
}

@media screen and (max-width: 750px) {
  #msgBox {
    font-size: 2.5em;
  }

  #container{
    display: flexbox;
    align-items: center;
  }

  .square{
    width: 1.4em;
    height: 1.4em;
    text-align: center;
    font-size: 40px;
  }
  .square:hover{
    background-color: rgb(180, 48, 232);
    color:aliceblue;
  }
  #inputWord{
    margin-top: 60%;
  }

  .selectionBar{
    margin-left: 50%;
  }

  #row1{
    align-self: center;
  }
}

